/* Card */
.p-card {
	position: relative;
	width: 300px;
	height: 500px;
	background-color: #fff;
	border-radius: 5px;
	margin: 30px 10px;
	color: #333;
}

/* Character Area */
.p-card > .character-area > img.character {
	position: absolute;
	height: 300px;
	top: -30px;
	left: 50%;
	transform: translate(-50%);
}
.p-card > .character-area {
	width: 100%;
	height: 225px;
	background-size: cover;
	background-position: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

/* Card Details */
.p-card > .details {
	padding: 0 10px;
	margin-top: 40px;
}
.p-card > .details > span { text-transform: uppercase; }

/* Card Stats */
.p-card > .stats {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	list-style-type: none;
	padding: 0;
	margin: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.p-card > .stats > li {
	display: inline-block;
	width: 33.3333%;
	text-align: center;
	font-size: 14px;
	padding: 5px 0;
	color: #fff;
}
.p-card > .stats > li > h5 { margin: 0; }
.p-card > .stats > li:hover { background-color: #fff5; }
.p-card > .stats > li:first-of-type {
	border-right: 1px solid #333;
	border-bottom-left-radius: 5px;
	margin-right: -5px;
}
.p-card > .stats > li:last-of-type {
	margin-left: -5px;
	border-left: 1px solid #333;
	border-bottom-right-radius: 5px;
}

/* Hover Effects */
.p-card:hover > .character-area { height: 235px; }
.p-card:hover > .character-area > img.character {
  height: 330px;
  top: -45px;
}
.p-card:hover > .details { margin-top: 30px; }

/* psychic */
.p-card.psychic { box-shadow: 0 0 25px rgba(190, 100, 255, 0.55); }
.p-card.psychic:hover { box-shadow: 0 5px 35px rgba(190, 100, 255, 1); }
.p-card.psychic > .details > span { color: #93c; }
.p-card.psychic > .character-area { background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2940219/Psychic.png'); }
.p-card.psychic > .stats {
	background: #8e2de2;
	background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
	background: linear-gradient(to right, #4a00e0, #8e2de2);
}

/* fire */
.p-card.fire { box-shadow: 0 0 25px rgba(255, 100, 30, 0.55); }
.p-card.fire:hover { box-shadow: 0 0 35px rgba(255, 100, 30, 1); }
.p-card.fire > .details > span { color: #f55; }
.p-card.fire > .character-area { background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2940219/Fire.jpg'); }
.p-card.fire > .stats {
	background: #f12711;
	background: -webkit-linear-gradient(to right, #f5af19, #f12711);
	background: linear-gradient(to right, #f5af19, #f12711);
}

/* electric*/
.p-card.electric { box-shadow: 0 0 25px rgba(189, 154, 0, 0.55); }
.p-card.electric:hover { box-shadow: 0 0 45px rgb(251, 247, 0); }
.p-card.electric > .details > span { color: rgb(25, 0, 253); }
.p-card.electric > .character-area { background-image: url('https://www.wakefieldexpress.co.uk/webimage/1.9899028.1564068455!/image/image.jpg'); }
.p-card.electric > .stats {
	background: #f12711;
	background: -webkit-linear-gradient(to right, #f5af19, #0011fb);
	background: linear-gradient(to right, #f5af19, #0011fb);
}

/* normal */
.p-card.normal { box-shadow: 0 0 25px rgba(248, 194, 106, 0.55); }
.p-card.normal:hover { box-shadow: 0 0 45px rgb(248, 197, 102); }
.p-card.normal > .details > span { color: rgb(255, 218, 52); }
.p-card.normal > .character-area { background-image: url('https://i.pinimg.com/originals/18/0f/84/180f840289cd081af335de6bf12d1325.jpg'); }
.p-card.normal > .stats {
	background: #f12711;
	background: -webkit-linear-gradient(to right, #f0d16d, #f8db89);
	background: linear-gradient(to right, #f0d16d, #f8db89);
}


/* bug */
.p-card.bug { box-shadow: 0 0 25px rgba(12, 100, 1, 0.55); }
.p-card.bug:hover { box-shadow: 0 0 45px rgb(5, 156, 0); }
.p-card.bug > .details > span { color: rgb(6, 168, 0); }
.p-card.bug > .character-area { background-image: url('https://c.wallhere.com/photos/ac/c7/landscape_macro_green_nature_leaf_bug-1143815.jpg!d'); }
.p-card.bug > .stats {
	background: #f12711;
	background: -webkit-linear-gradient(to right, #1a5c00, #640083);
	background: linear-gradient(to right, #1a5c00, #640083);
}

/*dark*/
.p-card.dark { box-shadow: 0 0 25px rgba(36, 36, 36, 0.55); }
.p-card.dark:hover { box-shadow: 0 0 45px rgb(10, 10, 10); }
.p-card.dark > .details > span { color: rgb(0, 0, 0); }
.p-card.dark > .character-area { background-image: url('https://images.unsplash.com/photo-1479762937580-3b682a10a0d8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80'); }
.p-card.dark > .stats {
	background: #f12711;
	background: -webkit-linear-gradient(to right, #0f0f0f, #2a0036);
	background: linear-gradient(to right, #0f0f0f, #2a0036);
}

/*dragon*/
.p-card.dragon { box-shadow: 0 0 25px rgba(255, 0, 0, 0.55); }
.p-card.dragon:hover { box-shadow: 0 0 45px rgb(0, 4, 255); }
.p-card.dragon > .details > span { color: rgb(0, 0, 0); }
.p-card.dragon > .character-area { background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1XeP6wKvgqlIhvh2X4QVQ5t5tZw8gb7ut6MGhmMTrEX321IbR&s'); }
.p-card.dragon > .stats {
	background: #f12711;
	background: -webkit-linear-gradient(to right, #0004ff, #ff0000);
	background: linear-gradient(to right, #0004ff, #ff0000);
}

/*fighting*/
.p-card.fighting { box-shadow: 0 0 25px rgba(110, 0, 0, 0.55); }
.p-card.fighting:hover { box-shadow: 0 0 45px rgb(255, 0, 0); }
.p-card.fighting > .details > span { color: rgb(110, 0, 0); }
.p-card.fighting > .character-area { background-image: url('https://images4.alphacoders.com/595/595809.jpg'); }
.p-card.fighting > .stats {
	background: #f12711;
	background: -webkit-linear-gradient(to right, #000000, #880000);
	background: linear-gradient(to right, #000000, #880000);
}

/*flying*/
.p-card.flying { box-shadow: 0 0 25px rgba(1, 51, 80, 0.55); }
.p-card.flying:hover { box-shadow: 0 0 45px rgb(0, 153, 255); }
.p-card.flying > .details > span { color: rgb(6, 143, 255); }
.p-card.flying > .character-area { background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSimABgc0PZruchAk6ZSX_kK7K4NMuMODV1vnoPTj-HHHc7-fVI1g&s'); }
.p-card.flying > .stats {
	background: #f12711;
	background: -webkit-linear-gradient(to right, #0062ff, #90bbff);
	background: linear-gradient(to right, #0062ff, #90bbff);
}


/*ghost*/
.p-card.ghost { box-shadow: 0 0 25px rgba(57, 0, 131, 0.55); }
.p-card.ghost:hover { box-shadow: 0 0 45px rgb(76, 0, 255); }
.p-card.ghost > .details > span { color: rgb(76, 0, 255); }
.p-card.ghost > .character-area { background-image: url('https://i.pinimg.com/originals/b6/1d/d5/b61dd52763ce9d8ac6e96e413eb74a13.jpg'); }
.p-card.ghost > .stats {
	background: #f12711;
	background: -webkit-linear-gradient(to right, #000000, #5f0085);
	background: linear-gradient(to right, #000000, #5f0085);
}

/*grass*/
.p-card.grass { box-shadow: 0 0 25px rgba(4, 124, 0, 0.55); }
.p-card.grass:hover { box-shadow: 0 0 45px rgb(21, 255, 0); }
.p-card.grass > .details > span { color: rgb(21, 255, 0); }
.p-card.grass > .character-area { background-image: url('https://wallpaperstock.net/wallpapers/thumbs1/34034wide.jpg'); }
.p-card.grass > .stats {
	background: #f12711;
	background: -webkit-linear-gradient(to right, #00ff00, #88ff00);
	background: linear-gradient(to right, #00ff00bb, #7be700);
}

/*ground*/
.p-card.ground { box-shadow: 0 0 25px rgba(153, 87, 0, 0.472); }
.p-card.ground:hover { box-shadow: 0 0 45px rgb(168, 113, 9); }
.p-card.ground > .details > span { color: rgb(153, 99, 0); }
.p-card.ground > .character-area { background-image: url('https://previews.123rf.com/images/honksantima/honksantima1710/honksantima171000314/87607733-dry-ground-wallpaper.jpg'); }
.p-card.ground > .stats {
	background: #f12711;
	background: -webkit-linear-gradient(to right, #4e3c00, #886904);
	background: linear-gradient(to right, #4e2c00, #884a04);
}

/*ice*/
.p-card.ice { box-shadow: 0 0 25px rgba(0, 135, 153, 0.472); }
.p-card.ice:hover { box-shadow: 0 0 45px rgb(97, 223, 255); }
.p-card.ice > .details > span { color: rgb(4, 243, 251); }
.p-card.ice > .character-area { background-image: url('https://barbarashdwallpapers.com/wp-content/uploads/2015/10/Ice-wallpaper-with-blue-ice.jpg'); }
.p-card.ice > .stats {
	background: #f12711;
	background: -webkit-linear-gradient(to right, #00a0c8, #52dcff);
	background: linear-gradient(to right, #00a0c8, #52dcff);
}

/*poison*/
.p-card.poison { box-shadow: 0 0 25px rgba(84, 0, 153, 0.472); }
.p-card.poison:hover { box-shadow: 0 0 45px rgb(154, 2, 255); }
.p-card.poison > .details > span { color: rgb(78, 4, 251); }
.p-card.poison > .character-area { background-image: url('https://i.pinimg.com/originals/a4/bd/07/a4bd0728319084bbe79ecab9be68c2f9.jpg'); }
.p-card.poison > .stats {
	background: #f12711;
	background: -webkit-linear-gradient(to right, #3c00ff, #6f00ff);
	background: linear-gradient(to right, #3c00ff, #6f00ff);
}

/*rock*/
.p-card.rock { box-shadow: 0 0 25px rgba(133, 133, 133, 0.472); }
.p-card.rock:hover { box-shadow: 0 0 45px rgb(83, 83, 83); }
.p-card.rock > .details > span { color: rgb(83, 83, 83); }
.p-card.rock > .character-area { background-image: url('https://images.wallpaperscraft.com/image/coal_rocks_black_106880_2560x1600.jpg'); }
.p-card.rock > .stats {
	background: #f12711;
	background: -webkit-linear-gradient(to right, #686868, #6b5733);
	background: linear-gradient(to right, #686868, #6b5733);
}

/*steel*/
.p-card.steel { box-shadow: 0 0 25px rgba(133, 133, 133, 0.472); }
.p-card.steel:hover { box-shadow: 0 0 45px rgb(83, 83, 83); }
.p-card.steel > .details > span { color: rgb(83, 83, 83); }
.p-card.steel > .character-area { background-image: url('https://besthqwallpapers.com/Uploads/30-3-2019/85346/thumb2-gray-polished-metal-4k-round-metal-texture-gray-metal-gray-metal-background.jpg'); }
.p-card.steel > .stats {
	background: #f12711;
	background: -webkit-linear-gradient(to right, #686868, #686868);
	background: linear-gradient(to right, #bebebe, #bebebe);
}

/*water*/
.p-card.water { box-shadow: 0 0 25px rgba(0, 21, 255, 0.472); }
.p-card.water:hover { box-shadow: 0 0 45px rgb(25, 0, 255); }
.p-card.water > .details > span { color: rgb(25, 0, 255); }
.p-card.water > .character-area { background-image: url('https://cdn.wallpapersafari.com/22/95/H5S0Ft.jpg'); }
.p-card.water > .stats {
	background: #f12711;
	background: -webkit-linear-gradient(to right, #0703ff, #00ccff);
	background: linear-gradient(to right, #0703ff, #00ccff);
}

/*fairy*/
.p-card.fairy{ box-shadow: 0 0 25px rgba(182, 0, 167, 0.472); }
.p-card.fairy:hover { box-shadow: 0 0 45px rgb(255, 0, 234); }
.p-card.fairy > .details > span { color: rgb(255, 0, 234); }
.p-card.fairy > .character-area { background-image: url('https://s3-us-east-2.amazonaws.com/hendersonvillefh/wp-content/uploads/2019/12/But-butterflies-7911918-300-300.jpg'); }
.p-card.fairy > .stats {
	background: #f12711;
	background: -webkit-linear-gradient(to right, #bc00d4, #ee6bff);
	background: linear-gradient(to right, #bc00d4, #ee6bff);
}

/* Inspiration Link */
.lead > a { color: #f55; }
.lead > a:hover {
  text-decoration: none;
  color: #f77;
}

/* Fonts */
.display-3,
.details > h3 { font-family: 'Quicksand' !important; }
.lead,
.details > span,
.details > p,
.stats > li { font-family: 'Rajdhani' !important; }


/* Bootstrap Overrides */
.col-12 {
	display: flex;
	align-items: center;
	justify-content: center;
}

.primary-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.25);
}


